##
# LaTeX + Pythontex Gitignore
# @author Rafael
##

# LaTeX Temporary files
*.aux
*.log
*.out
*.toc

# Bibtex Temporary files
*.bbl
*.blg

# Pythotex temporary files and folders
*.pytxcode
pythontex-files*

# Minted temporary files
_minted*
